.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h2 {
  margin-bottom: 10px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #800000; /* Bordo */
  table-layout: fixed; /* Tablo boyutlarını sabit tutmak için */
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word; /* Uzun metinleri otomatik olarak kırpmak için */
  font-size: 12px; /* Yazı boyutunu istediğiniz değere ayarlayın */
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}
